body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

header {
  font-family:'Century Gothic', sans-serif;
  background-color: orange;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: center;
  /* Centralizza la barra di ricerca */
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
  /* Garantisce che gli elementi restino su una riga */
}

/* Title larger and centered with search bar */
.navbar .title {
  font-family: 'Century Gothic', sans-serif;
  font-size: 48px;
  /* Titolo grande */
  font-weight: bold;
  color: white;
  margin-right: 20px;
  /* Margine per separare il titolo dalla barra di ricerca */
}

.navbar .search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar .search-bar input {
  width: 60%;
  /* Larghezza aumentata per la barra di ricerca */
  padding: 10px;
  /* Leggermente più alto */
  font-size: 16px;
  border: 1px solid white;
  border-radius: 25px;
  /* Bordo arrotondato */
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
  /* Effetto ombra */
}

.navbar .search-bar input:focus {
  box-shadow: 0 0 10px rgba(255, 165, 0, 1);
  /* Maggiore ombra al focus */
}

/* Navigation Links */
.nav-links {
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 10px 0;
}

.nav-links ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  margin: 0 20px;
}

.nav-links ul li a {
  text-decoration: none;
  color: orange;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-toggle button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 4px;
}

.form-toggle button:hover {
  background-color: #e69500;
}

.form {
  display: none;
  flex-direction: column;
}

.form.active {
  display: flex;
}

.form h2 {
  margin-bottom: 20px;
  color: orange;
}

.form label {
  margin-bottom: 5px;
}

.form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.form button:hover {
  background-color: #e69500;
}

/* Footer */
footer {
  background-color: orange;
  color: white;
  padding: 20px;
  text-align: center;
}

footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
